
*{
  /* background-color: grey; */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  /* height: 100vh; */
}

.btn-delete {
  background-color: black;
  color: white;
}
.btn-delete:hover {
  background-color: red;
  color: white;
}

.btn-custom {
  background-color: black;
  color: white;
}
.btn-custom:hover {
  background-color: white;
  color: black;
}
